@using TraversalApp.Core.Entites
@model List<Reservation>

@{
    ViewData["Title"] = "ApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlar</h1>

@if (Model.Count == 0)
{
    <h2>ONAY BEKLEYEN REZERVASYON BULUNAMAMIŞTIR</h2>
}
else
{ <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.ReservationDate</td>
                <td>@item.RStatus.Defination</td>
            </tr>
        }

    </table>
}
